body {
	background-color: #444;
	color: white;
	margin: 20px;
	font: 32px "Century Gothic", Futura, sans-serif;
}

.game {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.board-row {
	display: flex;
	flex-flow: row nowrap;
}

.square {
	background-color: rgb(226, 196, 28);
	color: white;
	border: 8px solid red;
	padding: 0;
	font-size: 80px;
	text-align: center;
	width: 100px;
	height: 100px;
}

.square:focus {
	outline: none;
	background-color: rgb(159, 138, 19);
}

.status {
	margin: 20px;
	font-size: 24px;
}

.o-color {
	color: #063970;
}

.x-color {
	color: #abdbe3;
}
